body {
  min-height: 75rem;
  padding-top: 4.5rem;
}
/**/
/* кнопки мини для возможного выбора действий */
.action-base {
    display: inline-block;
    position: relative;
    height: 24px;
    width: 24px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none !important;
    text-shadow: 0 1px rgba(255,255,255,0.1);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    background-attachment: scroll;
}
.action-edit {
    background-image: url(/images/buttons/btn-action-base.png);
    background-position: -96px 0px;
}
.action-add {
    background-image: url(/images/buttons/btn-action-base.png);
    background-position: -24px 0px;
}
.action-delete {
    background-image: url(/images/buttons/btn-action-base.png);
    background-position: -48px 0px;
}
.action-checked {
    background-image: url(/images/buttons/btn-check-uncheck.png);
    background-position: -24px 0px;
}
.action-un-checked {
    background-image: url(/images/buttons/btn-check-uncheck.png);
    background-position: 0px 0px;
}
.action-main-checked {
    background-image: url(/images/buttons/btn-main-check.png);
    background-position: 0px 0px;
}
.action-main-un-checked {
    background-image: url(/images/buttons/btn-main-check.png);
    background-position: -24px 0px;
}
.action-video  {
    background-image: url(/images/buttons/btn-include-video.png);
}
.action-child  {
    background-image: url(/images/buttons/btn-view-child.png);
}
.action-to-top {
    background-image: url(/images/buttons/btn-nav-top.png);
    background-position: 0px 0px;
}
.action-to-top-disable {
    background-image: url(/images/buttons/btn-nav-top.png);
    background-position: -24px 0px;
}
.action-to-dec {
    background-image: url(/images/buttons/btn-nav-dec.png);
    background-position: 0px 0px;
}
.action-to-dec-disable {
    background-image: url(/images/buttons/btn-nav-dec.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
